@import 'variables.scss';

.rw-communities {
  text-align: center;
  &__list {
    flex-direction: row;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    img {
      max-height: 100px;
    }
  }
}
