@import './variables.scss';

.rw-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 90px; // Para ajustar al alto del menu fixed.
  width: 100%;
  height: 80vh;
  background: linear-gradient(
      to right,
      rgba($rw-black-color, 0.6),
      rgba($rw-green-color, 0.3)
    ),
    url('https://raw.githubusercontent.com/sgomezglobant/reactweek/gh-pages/static/globant-medellin-b6c0f969d1a9f70078df36c1ae136a00.jpg')
      no-repeat center bottom fixed;
  background-size: cover;

  &__logo {
    width: 300px;
  }

  &__title,
  &__subtitle {
    color: $rw-white-color;
    font-family: $page-font;
    font-weight: 700;
    text-align: center;
  }

  &__title {
    font-size: 1.8em;
  }

  &__subtitle {
    font-size: 1.6em;
  }
}
