@import './variables.scss';

.main-menu {
  width: 100%;
  background-color: $rw-green-color;
  z-index: 9;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  &--fixed {
    position: sticky;
    top: 0;
  }
  &__content {
    height: 45px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__item {
    color: $rw-white-color;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0 10px;
    text-transform: capitalize;
    font-family: $page-font;
    &:not(:last-child) {
      border-right: 1px solid $rw-white-color;
    }
    &--image {
      width: 36px;
      height: 14px;
      margin: 0;
    }
  }
}
