@import './variables.scss';

.main-menu{
    position: fixed;
    width: 100%;
    height: 45px;
    background-color: $react-brand-blue;
    z-index: 9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    &__item{
        color: $react-brand-white;
        font-size: 0.8rem;
        font-weight: 400;
        text-transform: capitalize;
        font-family: $page-font;
        &--border{
            border-right: 1px solid $react-brand-white;
            padding-right: 10px;
            color: $react-brand-white;
            font-size: 0.8rem;
            font-weight: 400;
            text-transform: capitalize;
            font-family: $page-font;
        }
        &--image{
            width: 36px;
            height: 14px;
            margin: 0;
        }
    }
}