@import 'variables.scss';

.sponsors-container {
  .sponsors-list {
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;
  }
}
.title-container {
  text-align: center;

  i {
    font-size: 4em;
    color: $react-brand-blue; 
  }

  h3 {
    margin-bottom: 1em;
  }
}
.item-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  img {
    max-height: 150px;
  }
}