@import 'variables.scss';

.rw-organization {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &-item {
    display: inline-block;
  }
}
