@import 'variables.scss';

.rw-organization {
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  &-item {
    display: inline-block;
  }
}
