@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700");

:root {
  --primary-color: #039be5;
  --secondary-color: #20232a;
  --tertiary-color: #fcfcfc;
}

body {
  font-family: "Raleway", sans-serif;
}
