@import 'variables.scss';

.agenda {
  .icon {
    font-size: 4em;
    color: $react-brand-blue;
  }

  .agenda-header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .agenda-grid {
    display: flex;
    align-content: center;
    flex-direction: column;
    position: relative;
    padding: 1.5em;
  }

  .agenda-container {
    padding: 0;
    position: relative;
    margin-top: 25px;
  }

  .agenda-container:first-child {
    margin-top: 0;
  }

  .card {
    width: 100%;
    box-shadow: -4px 0px 18px 0px rgba(130, 130, 130, 0.65);
  }

  .card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
  }

  .card-image {
    border-radius: 50%;
    max-width: 70px;
  }

  .card-information {
    padding-left: 1em;
  }

  .card-schedule {
    color: #73b518;
    font-size: 1em;
    margin-bottom: 0;
    font-weight: 500;
  }

  .card-link {
    text-decoration: none;
    margin-right: 10px;
    color: #039be5;
  }

  .card-title {
    box-sizing: border-box;
    margin-bottom: 0px;
  }

  .card-description {
    font-size: 0.9em;
    box-sizing: border-box;
    line-height: 1.5em;
    margin-bottom: 0;
    color: gray;
  }

  @media only screen and (min-width: 601px) {
    .agenda-grid {
      padding: 1.5em 1.5em 1.5em 2.5em;
    }

    .agenda-grid:before {
      content: '';
      position: absolute;
      left: 40px;
      height: 100%;
      width: 2px;
      background: #cecece;
      top: 0px;
    }

    .agenda-container {
      margin-left: 55px;
      padding: 0;
      position: relative;
      margin-top: 25px;
    }

    .agenda-container:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: #c5c5c5;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      left: -69px;
    }

    .card:after {
      content: ' ';
      padding: 1%;
      background-color: white;
      position: absolute;
      top: 50%;
      left: 1%;
      transform: translate(-100%, -50%) rotate(45deg);
      z-index: 1000;
    }
  }
}
