@import 'variables.scss';

.rw-agenda {
  .icon {
    font-size: 4em;
    color: $react-brand-blue;
  }

  &__header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__grid {
    display: flex;
    align-content: center;
    flex-direction: column;
    position: relative;
    padding: 1.5em;
  }

  &__item {
    padding: 0;
    position: relative;
    margin-top: 25px;
  }

  &__item:first-child {
    margin-top: 0;
  }

  .event-card {
    width: 100%;
    background-color: $rw-white-color;
    box-shadow: 0px 0px 15px 0px rgba(130, 130, 130, 0.65);

    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px;
    }

    &__image {
      border-radius: 50%;
      height: 70px;
      width: 70px;
      object-fit: cover;
      margin: 0 15px;
    }

    &__information {
      padding-left: 1em;
      font-family: $page-font;
    }

    &__title {
      color: $rw-red-color;
      font-size: 1.12em;
      margin-bottom: 0;
      font-weight: 700;
    }

    &__links {
      margin-top: 5px;
    }

    &__link {
      color: $rw-blue-color;
      margin-right: 15px;
      text-decoration: none;
      font-size: 0.9em;
    }

    &__schedule {
      margin-bottom: 0px;
      font-size: 0.9em;
      color: $rw-black-color;
      font-weight: 600;
    }

    &__description {
      font-size: 0.9em;
      line-height: 1.3;
      margin-top: 5px;
      margin-bottom: 0;
      color: $rw-black-color;
    }
  }

  @media only screen and (min-width: 601px) {
    &__grid {
      padding: 1.5em 1.5em 1.5em 2.5em;
    }

    &__grid:before {
      content: '';
      position: absolute;
      left: 40px;
      height: 100%;
      width: 1px;
      background: $agenda-grid-background-color;
      top: 0px;
    }

    .event-card {
      &__wrapper {
        flex-direction: row;
      }
    }

    &__item {
      margin-left: 55px;
      padding: 0;
      position: relative;
      margin-top: 35px;
    }

    &__item:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid $agenda-grid-background-color;
      background: $rw-gray-color;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      left: -69px;
    }

    .event-card:after {
      content: ' ';
      padding: 8px;
      background-color: $card-background-color;
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translate(-100%, -50%) rotate(45deg);
    }
  }
}
