@import './variables.scss';

.speakers-grid__item {
  width: 220px;
  height: 275px;
  position: relative;
  overflow: hidden;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  background: $rw-white-color;
  // padding: 1em;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  font-family: $page-font;
  @media (min-width: 768px) {
    &:hover {
      .speakers-grid__img {
        filter: none;
      }
      .speakers-grid__figure {
        &::after {
          opacity: 0;
        }
      }
      .speakers-grid__name {
        &::before {
          transform: translateZ(0);
          transition: transform .25s .1s;
        }
        &::after {
          transform: skewY(2deg) translate3d(0,-7px,0);
          transition: transform .3s .1s;
        }
      }
    }
  }
}

.speakers-grid__figure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  &::after {
    background: linear-gradient(180deg,rgba(255,255,255,.4),rgba(0,0,0,.5));
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity .5s;
    width: 100%;
  }
}

.speakers-grid__name {
  bottom: 0;
  color: #fff;
  left: 0;
  padding: .5em;
  position: absolute;
  right: 0;
  z-index: 1;

  &::after,
  &::before {
    background: $rw-green-color;
    content: "";
    transform: translate3d(0,100%,0);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform .3s;
    width: 100%;
  }
  &::after {
    opacity: .8;
  }

  span {
    z-index: 2;
    position: relative;
  }
}

.speakers-grid__clickable {
  display: flex;
  height: 100%;
  width: 100%;
}

.speakers-grid__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  border-radius: 2px;
  filter: grayscale(100%);
  transition: filter .5s;
}

.speakers-grid__description{
  display: none;
  position: fixed;
  padding: 0 2rem;
  top: 50%;
  z-index: 9;
  transform: translateX(50%) translateY(-50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90%;
  left: -40%;
  height: 90%;

  @media (min-width: 768px) {
    width: 50%;
    height: 75%;
    left: 0;
  }

  &--is-active[id^="name"] {
    display: flex;

    button {
      display: block;
    }
  }

  &:before {
    content: "";
    box-sizing: border-box;
    width: 0;
    height: 100%;
    background-color: #fff;
    position: fixed;
    will-change: width, top;
    animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
  }

  &:after {
    content: "";
    width: 2px;
    height: 0;
    background-color: #f0f0f0;
    will-change: height, opacity;
    animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -1px;
  }

  &__block {
    height: calc(100vh - 40px);
    padding: 5% 15%;
    box-sizing: border-box;
    position: relative;
  
    margin: auto;
    overflow: auto;
    animation: fade .5s ease-out 1.3s both;
  }

  &__close {
    border: none;
    outline: none;
    width: 3.2rem;
    height: 3.2rem;
    text-indent: -9999px;
    z-index: 10;
    display: none;
    
    position: fixed;
    top: 20px;
    right: 20px;
  
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
  }

  & > * {
    z-index: 9;
    animation: fade .5s ease-out 1s both;
  }

  &__image {
    width: 150px;
    margin: 0;
  }

  &__name {
    color: $rw-black-color;
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  &__text {
    color: $rw-black-color;
    font-size: 0.8rem;
  }
}

@keyframes line-animation{

  0%{
    height: 0;
    opacity: 1;
  }

  99%{
    height: 100%;
    opacity: 1;
  }

  100%{
    height: 100%;
    opacity: 0;
  }  
}

@keyframes open-animation{

  0%{
    width: 0;
    left: 50%;
  }

  100%{
    width: 100%;
    left: 0;
  }
}

@keyframes fade{

  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.speakers-grid__text {
  font-size: 0.7em;
  font-weight: 400;
  line-height: 1.6;
  color: $rw-white-color;
}

.speakers-grid__social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.speakers-grid__link {
  width: 24px;
  height: 24px;
  font-size: 0;
  color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0.1);
  margin: 0 1rem;

  &:hover {
    transition: transform 100ms ease;
    transform: scale(1.075);
  }

  &--facebook {
    background-image: url('./../images/facebook_logo.svg');
  }

  &--twitter {
    background-image: url('./../images/twitter_logo.svg');
  }

  &--github {
    background-image: url('./../images/github_logo.svg');
  }

  &--linkedin {
    background-image: url('./../images/linkedin_logo.svg');
  }
}
