@import "./variables.scss";

.speakers {
  margin: 4rem 0 0;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;

  &__details {
    margin-bottom: 0.75rem;
  }

  &__title {
    position: relative;
    color: $react-brand-black;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      background-image: url("./../images/mic.svg");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      transform: translate(-50%, -110%);
    }
  }

  &-grid {
    margin: 0 auto;

    @media (min-width: 768px) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}
