$react-brand-blue: #00d8ff;
$react-complentary-blue: #6190fb;
$react-brand-black: #20232a;
$react-brand-white: #fcfcfc;
$page-font: 'Raleway', sans-serif;
$event-date-color: #73b518;
$link-color: #039be5;
$secondary-text-color: gray;
$card-background-color: white;
$agenda-grid-background-color: #cecece;
