$react-brand-blue: #00d8ff;
$react-complentary-blue: #6190fb;
$react-brand-black: #20232a;
$react-brand-white: #fcfcfc;
$page-font: 'Montserrat', sans-serif;
$event-date-color: #73b518;
$link-color: #039be5;
$secondary-text-color: gray;
$card-background-color: white;
$agenda-grid-background-color: #cecece;

$rw-blue-color: #49A8EE;
$rw-green-color: #C7D344;
$rw-red-color: #D9318A;
$rw-gray-color: #EBEBEB;
$rw-black-color: #3E3535;
$rw-white-color: #FFFFFF;