$react-brand-blue: #00d8ff;
$react-complentary-blue: #6190fb;
$react-brand-black: #20232a;
$react-brand-white: #fcfcfc;
$page-font: 'Montserrat', sans-serif;
$event-date-color: #73b518;
$link-color: #039be5;
$secondary-text-color: gray;
$card-background-color: white;
$agenda-grid-background-color: #cecece;

$rw-blue-color: #49a8ee;
$rw-green-color: #7eb51e;
$rw-red-color: #d9318a;
$rw-gray-color: #ebebeb;
$rw-black-color: #1a2024;
$rw-white-color: #ffffff;

$rw-green-alpha-color: rgba(126,181,30,.8);