@import 'variables.scss';

.title-container {
  text-align: center;

  i {
    font-size: 4em;
    color: $react-brand-blue; 
  }

  h3 {
    margin-bottom: 1em;
  }
}
.volunteers-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .volunteers-item{
        margin: 0 10px;

        img{
            border-radius: 50%;
            max-height: 150px;
        }
    }
}

