@import 'variables.scss';

.rw-volunteers {
  margin: 2em 0;

  &__title {
    text-align: center;

    i {
      font-size: 4em;
      color: $react-brand-blue;
    }

    h3 {
      margin-bottom: 1em;
    }
  }

  &__item {
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 160px;
    font-family: $page-font;

    img {
      box-sizing: content-box;
      border-radius: 50%;
      max-height: 150px;
      border: 3px solid $rw-white-color;
      margin-bottom: 0;
      width: 100px;
    }

    b {
      text-align: center;
      width: 100%;
      font-size: 0.8em;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
