@import 'variables.scss';

.volunteers-container {
    margin: 2em 0;
}
.volunteers-title {
    text-align: center;
    margin-bottom: 3em;

    i {
    font-size: 4em;
    color: $react-brand-blue; 
    }

    h3 {
    margin-bottom: 1em;
    }
}

.volunteers-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .volunteers-item {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 50%;
            max-height: 150px;
            margin-bottom: 0;
        }

        b { 
            text-align: center;
            width: 100%;
            font-size: 0.8em;
        }
    }
}

